* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(243, 162, 0);
}
.musicUl {
  list-style: none;
  margin-top: 50px;
  margin-left: 500px;
  height: 300px;
}
h1{
    margin-left: 650px;
}
li {
  width: 40%;
}

.music1,
.music2,
.music3,
.music4,
.music5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
